<div class="cloudflare-modal" data-bind="afterRender: setModalElement, blockLoader: isLoading">
    <div class="options">
        <div class="messages">
            <div class="message message-warning">
                <!-- ko text: 'Purge by URL: Any assets in the Cloudflare cache that match the URL(s) exactly will be purged from the cache.' --><!-- /ko -->
            </div>
        </div>
        <p><!-- ko text: 'You will need to specify the full path to the file. Wildcards are not supported with single URL purge at this time. You can purge up to 30 URLs at a time.' --><!-- /ko --></p><br/>
        <p><!-- ko text: 'Separate URL(s) one per line.' --><!-- /ko --></p>
        <strong><!-- ko text: 'Example:' --><!-- /ko --></strong><br/>
        <strong><!-- ko text: 'https://www.sitename.com' --><!-- /ko --></strong><br/>
        <strong><!-- ko text: 'https://www.sitename.com/styles.css' --><!-- /ko --></strong>
        <form class="form form-purge-cloudflare-by-url"
              method="post"
              data-bind="event: {submit: purgeByUrl}"
              id="purge-cloudflare-by-url-form">
            <div class="fieldset" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                <div class="field email required">
                    <label class="label" for="url_list">
                        <span data-bind="i18n: 'Url List'"></span>
                    </label>
                    <div class="control">
                        <textarea name="url_list"
                                  id="url_list"
                                  class="url-list"
                                  ko-value="_urls"
                                  data-bind="attr: {autocomplete: false}"
                                  data-validate="{required: true}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>